body {
    background-image: url("Bilder2/Bakgrund7.svg");
}

.wrapper {
    width: 70%;
    margin: 0 auto;
    background-color: rgb(255, 238, 243);
    border: 1px solid rgb(255, 255, 255);
    box-shadow: 0 0 65px rgb(89, 58, 161);
}

header {
    width: 80%;
    margin-top: 20px;
    text-align: center;
    margin: 0 auto;
    margin-top: 30px;
    margin-bottom: -10px;
}

h1 {
    color: rgb(28, 38, 70);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 70px;
}

section {
    margin-top: 10px;
    margin-left: 20%;
    margin-right: 20%;
}

img {
    margin: auto;
}

.splide .splide__slide img {
    width: 100%;
}

.main_nav {
    margin: 20px;
    display: flex;
    justify-content: space-evenly;
}

.sidenav {
    display: flex;
    justify-content: space-evenly;
}

.sokknapp {
    display: flex;
    justify-content: center;
}

.image_holder img{
    width: 100%;
    height: 100%;
}

.wrappertwo {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: auto;
    margin: 30px;
}

article {
    grid-column: 1 / 6;
    grid-row: auto;
}

aside {
    grid-column: 7 / 9;
    grid-row: 1 / 5;
    border-left: 3px solid black;
}

h5 {
    display: flex;
    justify-content: center;
    font-size: 20px;
}

p {
    font-size: 20px;
}

.sidartikel p {
    display: flex;
    justify-content: center;
    font-size: 15px;
}

.image_holder_two {
    display: flex;
    justify-content: center;
}

.image_holder_two img{
    width: 100%;
    height: 100%;
}

.sidartikel h4 {
    display: flex;
    justify-content: center;
}